@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  /* Force les paddings à l'intérieur au lieu de faire grandir les boîtes */
  box-sizing: border-box;
}
:root{
  --rouge :#b9625d;
  --white:rgb(248, 250, 252);
  --black:#302d2d;
  --shadow-color: 211deg 11% 60%;
  --shadow-elevation-low:
    0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.36),
    0.8px 0.7px 1.3px -1.6px hsl(var(--shadow-color) / 0.55);
    --shadow-elevation-medium:
    0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.49),
    5.5px 5.6px 10px -1.5px hsl(var(--shadow-color) / 0.82);
  --shadow-elevation-high:
    0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0.47),
    3.2px 2.9px 5.4px -0.5px hsl(var(--shadow-color) / 0.59),
    8.5px 7.7px 14.4px -1.1px hsl(var(--shadow-color) / 0.71),
    20.7px 18.6px 30px -1.6px hsl(var(--shadow-color) / 0.83);
}
body {
  font-family: "Inter", sans-serif;
  /* height: 8000px; */
}
a {
  display: inline-block;
  text-decoration: none;
}
li {
  list-style: none;
  padding: 3px;
  margin-left: 4px;
  font-size: 14px;
}
aside ul li a:hover{
  text-decoration: underline;
}
h1 {
  font-size: 32px;
  margin-bottom: 15px;
  color: var(--white);
}
/* Couleurs texte */
.colorRed{
  color: var(--rouge);
}
.colorWhite{
  color: var(--white);
}
.colorBlack{
  color: var(--black);
}
.Ctnr {
  width: 90%;
  margin: auto;
  max-width: 1100px;
}
.btn {
  background-color: var(--rouge);
  padding: 14px 28px;
  border-radius: 4px;
  font-size: 1.5rem;
  border-style: none;
  color: var(--white);
  text-decoration: none;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.SpcBtwn {
  justify-content: space-between;
}
.AlgnCntr {
  align-items: center;
}
.SpcArnd {
  justify-content: space-around;
}
.SpcEvnl {
  justify-content: space-evenly;
}
.Mrgn50 {
  margin: 50px;
}
.Wdth320 {
  max-width: 320px;
}
/* HEADER */
header nav {
  width: 40%;
}
header {
  padding: 0px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
header a {
  color: var(--white);
  text-decoration: none;
}
header img {
  width: 15%;
}
h3 {
  margin-bottom: 32px;
  text-align: center;
}
section {
  margin-bottom: 32px;
}
.bgRed {
  background-color: #b9625d;
}
.bgGrn {
  background-color: greenyellow;
}
/* HERO */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  backdrop-filter: blur(5px);
}
.hero img {
  width: 100%;
  height: 100%;
  /* 100% de la taille du parent, sinon l'image peut déborder */
  object-fit: cover;
}
.hero div {
  background-color: rgba(42, 38, 38, 0.347);
  max-width: 50%;
  /* absolute est par rapport à un relatif ou relatif le plus proche */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 100px 64px;
  border-radius: 16px;
  backdrop-filter: blur(6px);
  /* FLOUTER */
}
.hero p {
  font-size: 22px;
  margin-bottom: 35px;
  color: var(--white);
}
/* object-fit: cover; remplir sans déformer */
/* pourquoi display inline-block sur les <a> */
/* NOS SERVICES */
.CntnrSrvcs div {
  /* background-color: #009344; */
  max-width: 80%;
  gap: 32px;
  /* margin: auto; */
  /* gap est une propriété flex */
}
.CntnrSrvcs aside {
  /* background-color: red; */
  max-width: 19%;
  height: fit-content;
}
.Stck {
  position: sticky;
  top: 80px;
}
.CntnrSrvcs img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow:var(--shadow-elevation-medium);
  transition: 0.3s ease-in-out;
}
.CntnrSrvcs img:hover {
  box-shadow: var(--shadow-elevation-high);
  transform: scale(1.02);
}


.Card {
  position: relative;
  display: block;
}
.Card h2 {
  z-index: 1;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* LISTE ASIDE */
aside p {
  font-size: 15px;
  font-weight: 700;
  color: var(--black);
}
aside {
  box-shadow: 1px 1px 4px rgb(235, 237, 240);
  padding: 12px;
  border-radius: 16px;
}
.gap16{
  gap: 16px;
}
.Wdth100 {
  width: 100%;
}
/* FILIGRANE */
.filigrane {
  position: fixed;
  top: 92px;
  left: 0px;
  z-index: -1;
}

/* HISTOIRE DU CHATEAU */
.Hstr {
  color: var(--white);
  padding: 32px;
}
.Hstr img {
  display: inline-block;
  width: 480px;
  height: 320px;
  object-fit: cover;
  border-radius: 16px;
}
/* LES ORIGINES DU CHATEAU */
.ClrRed {
  color: #b9625d;
}
.pOrigin {
  display: inline-block;
  max-width: 43%;
  color: var(--black);
  /* Ne marchait pas avec 320px */
  /* background-color: blue; */
}

.NsSrvc {
  width: 100%;
  height: 100vh;
  background-color: blue;
}
.NsSrvcCard {
  position: relative;
  display: block;
  width: 323px;
  height: 323px;
  color: whitesmoke;
}
.NsSrvcCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 23px;
}
.NsSrvcCard h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
